[run]
source = .
omit =
    */migrations/*
    */tests/*
    */test_*.py
    */manage.py
    */settings.py
    */wsgi.py
    */asgi.py
    venv/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError