[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "django>=5.2",
    "django-crispy-forms>=2.3",
    "pillow>=11.1.0",
    "psycopg2-binary>=2.9.10",
]
